html,
body,
body > div:first-child,
div#__next,
div#__next > div,
div#__next > div > div {
  height: 100%;
}
a {
  color: #0062ff;
  text-decoration: none;
}

.blueText {
  color: #0062ff;
}

.mainTab {
  margin-left: 30px;
  opacity: 0.5;
  cursor: pointer;
}

.mainContainer {
  padding: 2rem;
  margin-left: 40px;
  margin-right: 40px;
}

.cardBorder {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 1em;
  flex-basis: 65%;
  -moz-transition: color 0.15s ease, border-color 0.15s ease;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.active {
  border-bottom-color: #0066ff;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  opacity: 1;
  padding-bottom: 10px;
}

.tag-blue {
  color: white;
  background-color: #0066ff;
  margin-left: 10px;
  padding: 2px 10px !important;
  border-radius: 20px;
}

.tag-blue-not-active {
  color: #0066ff;
  background-color: #e8f1ff;
  margin-left: 10px;
  padding: 2px 10px !important;
  border-radius: 20px;
}

.label-input {
  transform: translate(0, -3px) scale(0.9);
  padding-left: 5px;
  padding-top: 5px;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
}

.tag-grey {
  color: #0062ff;
  background-color: #e8f1ff;
  padding: 2px 10px !important;
  border-radius: 20px;
}

.sidenav::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.tag-white {
  color: black;
  background-color: white;
  padding: 2px 10px !important;
  border-radius: 20px;
  margin-left: auto;
}

.icon-main-style {
  color: white;
  width: 30px;
  height: 30px;
  margin-left: auto;
}

* {
  box-sizing: border-box;
}

.img-background {
  background-image: url("/selfdrvn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
}

.player {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  overflow: visible;
  margin: 20px auto;
}

.player:hover {
  opacity: 0.8;
}

.left-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 2px solid #eee;
  border-left-color: transparent;
  transform: rotate(45deg);
}

.left-side.fill {
  border-color: transparent;
  border-left-color: #0062ff;
  border-bottom-color: #0062ff;
}

.right-side {
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 10px solid #0062ff;
  border-left-color: #eee;
}

.greyText {
  color: #b5bbc1;
}

.player-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.player-title {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% + 55px);
  text-align: center;
  color: #999;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  display: flex;
}

ul li {
  padding-bottom: 10px;
  position: relative;
}

ul li span:before {
  content: "";
  position: absolute;
  border-left: 2px dashed #b5bbc1;
  left: 12px;
  bottom: 0;
  z-index: -1;
  height: 100%;
}

ul li:last-child span:before {
  content: none;
}
ul li:last-child {
  padding-bottom: 0;
}

.mainAnnouncement {
  position: absolute;
  width: 100%;
  background-color: #0062ff;
  top: 0;
  left: 0;
  z-index: -1;
  text-align: center;
  color: white;
  height: 30px;
}

#drawer {
  font-size: 30px;
  border-radius: 3px;
  cursor: pointer;
  left: 0;
  top: 15px;
  position: absolute;
  background-color: #111;
  color: white;
  transition: 0.5s;
  z-index: 5;
}
